body{
    margin: o;
    font-family: 'poppins', 'sans-serif';
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    height: 500px;
}

.half-width img{
    width: 100%;

}
.hello{
    color: rgb(28, 35, 134);
}
.name{
    color: tomato;
}
#img1{
    height: 500px;
    margin-right: 70px;
}
.anchor{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(30deg,tomato,lightsalmon);
}
.work{
    background-color: gray;
    min-height: 600px;
    width: auto;
}
.work-h{
    margin-top: 1000px;
    margin-right: 800px;;
}
